@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
  max-width: 1500px;
  width: 100%;
  background: #fff;
  padding: 25px 35px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  /*   ::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            background: #9b59b6;
        }           */
}

.container form .user_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 12px 0;
}

.container form .user_details .input_box {
  margin-bottom: 15px;
  width: 27rem;
}

.container form .user_details .input_box .details {
  font-weight: 500;
  margin-bottom: 5px;
}

.container form .user_details .input_box input {
  height: 45px;
  width: 25rem;
  padding-left: 15px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-bottom-width: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container form .user_details .input_box input :focus,
.container form .user_details .input_box input :valid {
  border-color: #2759FF;
}

.container form .user_details .input_box #bio {
  height: 100px;
  width: 25rem;
  padding-left: 15px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-bottom-width: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container form .gender_details .gender_title {
  font-size: 20px;
  font-weight: 500;
}

.container form .gender_details .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 15px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container form .gender_details .category label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container form .gender_details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container form .gender_details #dot-1:checked ~ .category label .one,
.container form .gender_details #dot-2:checked ~ .category label .two,
.container form .gender_details #dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: #2759FF;
}

.container form .button {
  float: right;
  height: 45px;
  margin: 40px 20px 40px 0;
}

.container form .button input {
  height: 100%;
  width: 150px;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  background: #2759FF;
}

.container form input[type="radio"] {
  display: none;
}

.container .left_template {
  width: 65%;
  float: left;
}

.container .right_template {
  float: right;
  width: 35%;
}

.container .right_template .height {
  border-left: 1px solid black;
  height: 680px;
  float: left;
  margin: 10px;
}

.container .right_template img {
  width: 200px;
  border-radius: 50%;
  margin-left: 25%;
  margin-top: 35%;
}

.container .right_template .name {
  text-align: center;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user_details .input_box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user_details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user_details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 250px) {
  .container .content .category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */